[submodule "RifeTensorRT/concurrentqueue"]
	path = RifeTensorRT/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
